.header {
  display: flex;
  height: 5em;
  justify-content: space-between;
  align-items: center;
  padding: 0 5em;
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
  left: 0;
  background: $color-secondary;

  @include match(xs) {
    padding: 0 2em;
  }

  &__logo {
    width: 15em;

    @include match(xs) {
      width: 10em;
    }
  }

  &__title {
    font-size: 2rem;
    color: $color-primary;

    @include match(xs) {
      font-size: 1.5rem;
    }
  }
}

.toolbar {
  margin-bottom: 3.75em;
}
