.search {
  margin-top: 2em;
  margin-bottom: 3em;

  &__form {
    width: 65em;
    border: none;
    border-bottom: 2px solid $color-primary;
    padding: 0.5em;
    font-size: 1.2rem;
    margin-top: 1em;

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-size: 1.5rem;
      color: $color-tertiary;
    }
  }
}
