/* 
    0 - 600px - Phone (extra small)
    601 - 960px - Tablet portrait (small)
    961 - 1280px - Tablet Landscape (medium)
    1281 - 1920px - Laptop screen (large)
    1921px + - Large screens (Extra Large)

*/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

.search {
  margin-top: 2em;
  margin-bottom: 3em;
}

@media (max-width: 960px) {
  .search {
    margin-left: 3em;
  }
}

@media (max-width: 600px) {
  .search {
    margin-left: 0;
  }
}

.search__form {
  width: 65em;
  border: none;
  border-bottom: 2px solid #5e2778;
  padding: 0.5em;
  font-size: 1.2rem;
  margin-top: 1em;
}

@media (max-width: 960px) {
  .search__form {
    width: 35em;
  }
}

@media (max-width: 600px) {
  .search__form {
    width: 25em;
  }
}

@media (max-width: 320px) {
  .search__form {
    width: 17em;
  }
}

.search__form:focus {
  outline: none;
}

.search__form::-webkit-input-placeholder {
  font-size: 1.5rem;
  color: #a16bb3;
}

.search__form:-ms-input-placeholder {
  font-size: 1.5rem;
  color: #a16bb3;
}

.search__form::-ms-input-placeholder {
  font-size: 1.5rem;
  color: #a16bb3;
}

.search__form::placeholder {
  font-size: 1.5rem;
  color: #a16bb3;
}

@media (max-width: 320px) {
  .search__form::-webkit-input-placeholder {
    font-size: 1.2rem;
  }
  .search__form:-ms-input-placeholder {
    font-size: 1.2rem;
  }
  .search__form::-ms-input-placeholder {
    font-size: 1.2rem;
  }
  .search__form::placeholder {
    font-size: 1.2rem;
  }
}

.table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  border-collapse: collapse;
  text-align: center;
}

.table__head {
  border: 1px solid #ddd;
  padding: 8px;
}

.table__header {
  padding-top: 2.2em;
  padding-bottom: 2.2em;
  text-align: center;
  background-color: #5e2778;
  color: #fff;
  min-width: 7em;
}

@media (max-width: 1280px) {
  .table__header {
    min-width: 12em;
  }
}

.table__data {
  border: 1px solid #ddd;
  padding: 8px;
}

.table__data--error {
  min-width: 100%;
  color: #af2121;
  font-weight: bold;
  margin: 0 auto;
}

.table__row--error {
  background: #f8d7da;
}

.table .table__row:nth-child(even) {
  background: #ebd7f2;
}

.table .table__row:hover {
  background-color: #cc6aed;
  color: #f4f4f4;
}

.table__footer .table__data {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  background-color: #5e2778;
  color: white;
}

.footer {
  margin: 5em auto 1em;
}

.footer__text {
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .footer__text {
    font-size: 1.25rem;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5em;
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
  left: 0;
  background: #f4f4f4;
}

@media (max-width: 600px) {
  .header {
    padding: 0 2em;
  }
}

.header__logo {
  width: 15em;
}

@media (max-width: 600px) {
  .header__logo {
    width: 10em;
  }
}

.header__title {
  font-size: 2rem;
  color: #5e2778;
}

@media (max-width: 600px) {
  .header__title {
    font-size: 1.5rem;
  }
}

.toolbar {
  margin-bottom: 3.75em;
}

.section {
  margin-top: 4em;
}

.section__title__wrapper {
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 3em;
}

@media (max-width: 600px) {
  .section__title__wrapper {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
}

.section__title {
  color: #5e2778;
}

@media (max-width: 600px) {
  .section__title {
    font-size: 2rem !important;
    text-align: center;
  }
}

.section__filter__wrapper {
  padding: 0 3em;
  margin-bottom: 3em !important;
}

.error {
  color: #af2121;
  text-align: center;
}

.list-group {
  width: 25em;
  margin-right: 10em;
  text-align: center;
}

@media (max-width: 960px) {
  .list-group {
    margin-right: 0;
    width: 30em;
  }
}

@media (max-width: 600px) {
  .list-group {
    margin-right: 0;
    width: 20em;
  }
}

.list-group-item {
  font-size: 1.2rem;
}

.list-group-item.active {
  background: #a16bb3 !important;
  border-color: #a16bb3 !important;
}

.list-group-item__title {
  color: #5e2778;
}

.pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-link {
  color: #5e2778 !important;
}

.page-item.active .page-link {
  background: #5e2778 !important;
  border-color: #a16bb3 !important;
  color: #fff !important;
}

.MuiFormControlLabel-labelPlacementStart {
  margin-left: 0 !important;
  margin-right: 7em !important;
}

@media (max-width: 1280px) {
  .MuiFormControlLabel-labelPlacementStart {
    margin-right: 3em !important;
  }
}

@media (max-width: 960px) {
  .MuiFormControlLabel-labelPlacementStart {
    margin-top: 2em;
    margin-right: 2.5em !important;
  }
}

@media (max-width: 600px) {
  .MuiFormControlLabel-labelPlacementStart {
    margin-right: 1em !important;
  }
}

.MuiTypography-body1 {
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  color: #5e2778;
}

.MuiSwitch-colorPrimary.Mui-checked {
  color: #5e2778 !important;
}

.MuiFormGroup-root {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=index.css.map */